In [39]:
import pandas as pd
import numpy as np
import json
import copy

In [11]:
addr_map = {'0x0ac58fd25f334975b1b61732cf79564b6200a933': 'farm',
            '0xcc0250698919448e2e90f0f0a780addc97a332f5': 'vault',
            '0x10baff2188e6cee33e858c6913ef8616dc0a3e9c': 'fee'}

In [3]:
df = pd.read_csv("/Users/jchi/Downloads/vault_merged.csv") # from https://bscscan.com/address/0xcc0250698919448e2E90f0F0a780addC97a332F5#tokentxns, exported
#df contains the token transactions of the vault contract

In [15]:
dfbackup = df.copy()

In [6]:
df['From'].value_counts()

0x0ac58fd25f334975b1b61732cf79564b6200a933    4742
0xcc0250698919448e2e90f0f0a780addc97a332f5    4630
Name: From, dtype: int64

In [7]:
df['To'].value_counts()

0xcc0250698919448e2e90f0f0a780addc97a332f5    4742
0x10baff2188e6cee33e858c6913ef8616dc0a3e9c    2315
0x0ac58fd25f334975b1b61732cf79564b6200a933    2315
Name: To, dtype: int64

In [68]:
MY_WALLET = '0xf8375F52a94CfdE7279B22dA6654F3cd3E39BCee'.lower()

In [17]:
df['From'] = df['From'].apply(lambda x: addr_map[x])
df['To'] = df['To'].apply(lambda x: addr_map[x])

In [19]:
df.head()

,Txhash,UnixTimestamp,DateTime,From,To,Value,ContractAddress,TokenName,TokenSymbol
0,0x90ebd4f8a795869e5cb45cbdf6d3a1208ee716d93ecb...,1628253650,2021-08-06 12:40:50,farm,vault,0.047620,0x74d51fc48013546d716a7884cc69d0bb75807f8a,Planet LPs,Net-LP
1,0x219b916ac39f19249fa1e23950e6c954c9c62439ab13...,1628483755,2021-08-09 04:35:55,farm,vault,1.000029,0x74d51fc48013546d716a7884cc69d0bb75807f8a,Planet LPs,Net-LP
2,0x952ba09d28a7c90f97870648e01482979d5518723bc8...,1628485276,2021-08-09 05:01:16,farm,vault,10.499050,0x74d51fc48013546d716a7884cc69d0bb75807f8a,Planet LPs,Net-LP
3,0xc780efe472c281f8a858a1d4a530343724b06172513d...,1628537154,2021-08-09 19:25:54,farm,vault,10916.898504,0x74d51fc48013546d716a7884cc69d0bb75807f8a,Planet LPs,Net-LP
4,0xe3ef4d618a77e2f214c870afa162746768a0259d2003...,1628537340,2021-08-09 19:29:00,farm,vault,4959.992689,0x74d51fc48013546d716a7884cc69d0bb75807f8a,Planet LPs,Net-LP

In [20]:
df.groupby(['From','To'])['Value'].sum()

From   To
farm   vault    2.440085e+07
vault  farm     2.437646e+07
       fee      2.438418e+04
Name: Value, dtype: float64

In [146]:
df_agg = df.groupby('From')['Value'].sum(); df_agg

From
farm     2.440085e+07
vault    2.440085e+07
Name: Value, dtype: float64

In [150]:
with open('/Users/jchi/Downloads/coval50000.csv') as json_file: #data from  curl -u <insert_api_key_here>:   -H 'Content-Type: application/json' -X GET "https://api.covalenthq.com/v1/56/address/0x0ac58Fd25f334975b1B61732CF79564b6200A933/transfers_v2/?quote-currency=USD&format=JSON&contract-address=0x74d51fC48013546D716a7884cc69d0Bb75807f8A&page-size=50000" 
    farm_dict = json.load(json_file)
# contains all transaction data of the "farm contract" filtered to the transactions involving USDC-UST LP token.

In [40]:
farm_dict2 = copy.deepcopy(farm_dict)

In [41]:
del farm_dict2['data']['items']

In [42]:
farm_dict2

{'data': {'address': '0x0ac58fd25f334975b1b61732cf79564b6200a933',
  'updated_at': '2022-04-27T09:04:44.006186399Z',
  'next_update_at': '2022-04-27T09:09:44.006186590Z',
  'quote_currency': 'USD',
  'chain_id': 56,
  'pagination': {'has_more': False,
   'page_number': 0,
   'page_size': 50000,
   'total_count': 7057}},
 'error': False,
 'error_message': None,
 'error_code': None}

In [43]:
farm_dict['data']['items'][0]

{'block_signed_at': '2022-03-03T04:06:40Z',
 'block_height': 15726645,
 'tx_hash': '0x42e4fc340d00e78d32f9aba693282181ac21e696f06436e6a015eb1f850163d5',
 'tx_offset': 58,
 'successful': True,
 'from_address': '0x7d223bf866d75c19d488dceef6b3a107816f0f19',
 'from_address_label': None,
 'to_address': '0x0ac58fd25f334975b1b61732cf79564b6200a933',
 'to_address_label': None,
 'value': '0',
 'value_quote': 0.0,
 'gas_offered': 278538,
 'gas_spent': 141606,
 'gas_price': 5000000000,
 'fees_paid': None,
 'gas_quote': 0.2952188430935669,
 'gas_quote_rate': 416.9580993652344,
 'transfers': [{'block_signed_at': '2022-03-03T04:06:40Z',
   'tx_hash': '0x42e4fc340d00e78d32f9aba693282181ac21e696f06436e6a015eb1f850163d5',
   'from_address': '0x0ac58fd25f334975b1b61732cf79564b6200a933',
   'from_address_label': None,
   'to_address': '0x7d223bf866d75c19d488dceef6b3a107816f0f19',
   'to_address_label': None,
   'contract_decimals': 18,
   'contract_name': 'Planet LPs',
   'contract_ticker_symbol': 'Net-LP',
   'contract_address': '0x74d51fc48013546d716a7884cc69d0bb75807f8a',
   'logo_url': '',
   'transfer_type': 'OUT',
   'delta': '417763807511000000',
   'balance': None,
   'quote_rate': None,
   'delta_quote': None,
   'balance_quote': None,
   'method_calls': None},
  {'block_signed_at': '2022-03-03T04:06:40Z',
   'tx_hash': '0x42e4fc340d00e78d32f9aba693282181ac21e696f06436e6a015eb1f850163d5',
   'from_address': '0xcc0250698919448e2e90f0f0a780addc97a332f5',
   'from_address_label': None,
   'to_address': '0x0ac58fd25f334975b1b61732cf79564b6200a933',
   'to_address_label': None,
   'contract_decimals': 18,
   'contract_name': 'Planet LPs',
   'contract_ticker_symbol': 'Net-LP',
   'contract_address': '0x74d51fc48013546d716a7884cc69d0bb75807f8a',
   'logo_url': '',
   'transfer_type': 'IN',
   'delta': '417763807511000000',
   'balance': None,
   'quote_rate': None,
   'delta_quote': None,
   'balance_quote': None,
   'method_calls': None}]}

In [64]:
txs = []
for item in farm_dict['data']['items']:
    assert len(item['transfers']) == 2
    transfers = item['transfers']
    txs.append((transfers[0]['tx_hash'], transfers[0]['from_address'], transfers[0]['to_address'], int(transfers[0]['delta'])))
    txs.append((transfers[1]['tx_hash'], transfers[1]['from_address'], transfers[1]['to_address'], int(transfers[1]['delta'])))

In [65]:
df_farm = pd.DataFrame(txs, columns=['tx_hash','from_addr','to_addr','delta'])
df_farm['delta'] = df_farm['delta']/1e18

In [69]:
df_farm.query(f"from_addr=='{MY_WALLET}'")

,tx_hash,from_addr,to_addr,delta
9,0xa2c751698f569e16956408a2257f9e38d08c6f96094a...,0xf8375f52a94cfde7279b22da6654f3cd3e39bcee,0x0ac58fd25f334975b1b61732cf79564b6200a933,0.098855
7547,0xbacca90878d847e880820a3a80e8857e66debe3ca1cc...,0xf8375f52a94cfde7279b22da6654f3cd3e39bcee,0x0ac58fd25f334975b1b61732cf79564b6200a933,6927.936475

In [70]:
df_farm.query(f"to_addr=='{MY_WALLET}'")

,tx_hash,from_addr,to_addr,delta
6,0x93cf2e7fa481bb9b000d0fffa8bdbab6bfc4f9962562...,0x0ac58fd25f334975b1b61732cf79564b6200a933,0xf8375f52a94cfde7279b22da6654f3cd3e39bcee,0.00001
10,0x8b6038d1308f6be2b11e004a2f053c00e928e350e6d8...,0x0ac58fd25f334975b1b61732cf79564b6200a933,0xf8375f52a94cfde7279b22da6654f3cd3e39bcee,0.0
5662,0x34d0ff5352699e4f48e5b3a265ff0d1831dbc89f5381...,0x0ac58fd25f334975b1b61732cf79564b6200a933,0xf8375f52a94cfde7279b22da6654f3cd3e39bcee,2997.0

In [151]:
# total # of addresses involved
addresses = set(df_farm['from_addr']).union(set(df_farm['to_addr'])); len(addresses)

1115

In [84]:
from_agg = df_farm.groupby('from_addr')['delta'].sum().reset_index().set_index('from_addr')

In [85]:
to_agg = df_farm.groupby('to_addr')['delta'].sum().reset_index().set_index('to_addr')

In [132]:
joined = from_agg.merge(to_agg, how='outer', left_index=True, right_index=True)

In [133]:
joined.columns = ['from_amt','to_amt']

In [134]:
joined = joined.fillna(0)

In [135]:
joined['to_minus_from'] = joined['to_amt'] - joined['from_amt']

In [160]:
joined['to_div_from'] = joined['to_amt'] / joined['from_amt']

In [161]:
joined.sort_values('to_minus_from',ascending=True).head(10) #wallets which withdrew LESS than they deposirted

,from_amt,to_amt,to_minus_from,to_div_from
0x3e48c47a4a366a6a02f5370dba6e8bac49a725db,9.560552e+03,2.083881e+03,-7476.670764,0.217967
0xae720014c9d3521af91645be154bd6e98b6bc519,5.000251e+03,0.000000e+00,-5000.250683,0.000000
0xf8375f52a94cfde7279b22da6654f3cd3e39bcee,6.928035e+03,2.997000e+03,-3931.035320,0.432590
0x8f4b571aaafe020d7c7abb4f52d626cfa6a001bd,2.822483e+03,0.000000e+00,-2822.482679,0.000000
0xaae8dc4461c6abde35982e50679df09e42e3820c,1.496020e+03,0.000000e+00,-1496.019703,0.000000
0x38d79151e014acc2c54c1118590657d83d4e3823,1.987262e+03,9.942688e+02,-992.993443,0.500321
0x3adf0b7ad98751f9f4e0acba8637fa3f4852ea9e,3.069481e+06,3.068652e+06,-828.614080,0.999730
0x989b3c9f5bc4189dfaee8efac99f9638d39fc45d,7.160826e+05,7.154552e+05,-627.401472,0.999124
0x768f2a7ccdfde9ebdfd5cea8b635dd590cb3a3f1,7.558280e+05,7.552446e+05,-583.391547,0.999228
0xe8ece25ecf41a3aa6b61a3beb028e738522e3e59,4.962258e+02,0.000000e+00,-496.225823,0.000000

In [164]:
joined.sort_values('to_div_from',ascending=False).head(10) #wallets which withdrew LESS than they deposited

,from_amt,to_amt,to_minus_from,to_div_from
0x846b29a047bbae492f37cc61fe5968bc38531bd5,465.424587,469.323218,3.898631,1.008377
0x8b40b722aa17808069a22381c74fd61d0e026b48,149.162706,150.314665,1.151959,1.007723
0x54c77142d90ab0b20a6325a05c3949f17d7d0ece,12650.415539,12744.418234,94.002695,1.007431
0xa5cc086cd2af70e507b0708d86d9c9e6cd14e782,49.756428,50.118518,0.362090,1.007277
0x5e6d36d210cf6ae216faa45c18a6815e20f31220,7.945574,7.999809,0.054235,1.006826
0x2c0bc7f1858185bbccf1ceb6bfaca1e3a8bcbd51,800.082150,805.449726,5.367575,1.006709
0x66d091b635bc6226bfd389bdb932c944a6644cfc,82.297265,82.845658,0.548393,1.006664
0xaaff9dbe4aba011ac56b48119dc734d7c6a46ca4,7.402684,7.451423,0.048739,1.006584
0x598f2ff6be73ffcf8f18e244f5fbe1bbfb0a4349,29559.033152,29749.087829,190.054677,1.006430
0x88d2b1dacd67e544072c1870b93cc28ca71a638e,399.174261,401.703232,2.528971,1.006336

In [142]:
joined.sort_values('to_minus_from',ascending=False).head(10) #wallets which withdrew MORE than they deposited 
## reminder: 0xcc0250698919448e2e90f0f0a780addc97a332f5 is special because that's the vault contract address.

,from_amt,to_amt,to_minus_from
0xcc0250698919448e2e90f0f0a780addc97a332f5,2.437646e+07,2.440085e+07,24384.183211
0x81580d30e5acac9b6c19b629c4cd46a273c2fff9,5.299777e+05,5.306037e+05,625.977328
0x2d86c5c13d1db6ab40f7b824f5ef966ac6987aa7,2.002035e+05,2.008226e+05,619.107209
0xb0bb39ea49d115f6d054a2dfe68b6691c3f2b805,2.478019e+05,2.483222e+05,520.282619
0x3b17fdd632ec7e099805b7cf049614bf9213504a,4.852650e+04,4.877508e+04,248.584070
0x7c00406717856cdcaf222eab5803fe31507898cd,1.377107e+05,1.379534e+05,242.712335
0x911a6d66a2a60ceafb894cedf60cd00042f6300d,7.266772e+04,7.290195e+04,234.235623
0x598341d72d880983cfac51571417206cee9a5225,9.926756e+04,9.948716e+04,219.599952
0xd84804acec78c9898ee21ca74f2c37f4cda666fc,5.555538e+04,5.575676e+04,201.375329
0x598f2ff6be73ffcf8f18e244f5fbe1bbfb0a4349,2.955903e+04,2.974909e+04,190.054677

In [149]:
# verify that the data from Covalent API matches data from bscscan
assert np.isclose( joined.loc['0xcc0250698919448e2e90f0f0a780addc97a332f5','to_amt'], df_agg['vault'])

In [140]:
joined.sum()

from_amt         9.755462e+07
to_amt           9.755462e+07
to_minus_from   -2.152046e-08
dtype: float64

In [144]:
# proportion of wallets (out of total # of wallets) that withdrew more than they deposited
len(joined.query("to_minus_from>0"))/len(joined)

0.32107623318385653

In [145]:
# proportion of wallets (out of total # of wallets) that withdrew at least 0.2 LP tokens more than they deposited
len(joined.query("to_minus_from>0.2"))/len(joined)

0.27623318385650225

In [154]:
# of wallets that lost more than 50 LP tokens (worth about $100)
len(joined.query("to_minus_from < -50"))

48

In [159]:
# number of LP tokens lost by the people who had losses (withdrew less than they deposited)
joined.query("to_minus_from < 0")['to_minus_from'].sum()

-32681.24366484685

### clean example of one wallet withdrawing way more than they deposited: https://bscscan.com/token/0x74d51fc48013546d716a7884cc69d0bb75807f8a?a=0x2d86c5c13d1db6ab40f7b824f5ef966ac6987aa7